/* global */

body{
  font-family: 'Cinzel', serif;
  background-color:#EBE3D8;
  margin-top: 0%;
  width: 100%;
}

p::selection{
  background: #EED6DC;
}

.container{
  padding-bottom: 1.5em;
  line-height: 1.8em;
  width: 100%;
  margin:auto;
}

section{
  width: 100%;
  margin: auto;
}

/* NAVBAR */
nav{
  background-color:#EED6DC;
  text-align: center;
  border-bottom: #955465 2px solid;
}

.nav-item{
  font-size: 1.2em;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

/* LOGO  */
#logo img{
  max-width: 100%;
  height: auto;
  max-height: 300px;
  display: table;
  margin: 0 auto;
  padding-top: 5px;
}

/* Title */
#title{
  text-align: center;
  font-size: 2.2em;
  Letter-spacing: .15em;
  width: 100%;
  margin-top: 0;
}
/* PINK */
p span{
  color: #955465;
  font-size: 150%;
}

/* Local */

h2, h3 {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color:#955465;
}

/* services*/
#services{
  background-color:#EED6DC;
  text-align: center;
  color: #955465;
  font-size: 1.5em;
}

#services div{
  padding: 1px;
  margin-top: 0;
  margin-bottom: 0;
}


.description {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 2em;
}

.spacing{
  text-decoration: 
}

#newsletter{
  margin: auto;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 12px;
}

span a{
  color:inherit;
  font-size: 18px;
}

span a:hover{
  color: white;
}
/* TABLE */
.table{
  width: 80%;
  font-weight: bold;
  padding-top: 2%;
}

.row{
  border: #955465 1px solid;
}
.col{
  padding: 1.5%;
  padding-left: 20px;
  padding-right: 20px;
  border-top: #955465 1px solid;
}
.table .product{
  border-left: #955465 1px solid 
  border-top: #955465 1px solid;
  border-bottom: #955465 1px solid;
}

.table .price{
  border-top: #955465 1px solid; 
  border-bottom: #955465 1px solid;
  border-right: #955465 1px solid;
  text-align: right;
}

.table p{
  padding: .8em;
  text-align: center;
}

p{
  /* font-size: 16px; */
  text-align: center;
}

/* FOOTER */

#footer p{
  margin: 0;
  padding: 0;
  width: 100%;
  }

  #footer{
    background-color: #955465;
    margin: 0;
    padding: 0.2em;
    color: #EED6DC;
    width: 100%;
    }

  .footmargin p{
   text-align: left;
  }

  .footmargin{
   padding: 0%;
  }
  #footercontact{
    float: right;
    text-transform: none;
    color: #EED6DC;
  }

#footercontact a { 
  color: inherit; 
} 